
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-playfair-display: 'Playfair Display', serif;
  }

  body {
    @apply text-text-body bg-background-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-text-heading font-serif;
  }
}
